body{
    background-color: black;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content : center; 
    
  
}
 
h1{
    margin-right: 60%;
    font-size: 14px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: font-family: 'DM Serif Text', serif;;
}

hr {
    width: 320px ;
    
    margin-bottom : 25px;
   border : 0.5px solid #cccccc;
   background-color: #cccccc;
}

#container {
    background-color: #e9e9e9;
    width : 340px;
    height: 215px;
    margin: 10px;
    margin-left: 10px;
    display :flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

#container div {
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    margin-left: 10px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10%;
    font-size: 11px;
    font-family: font-family: 'Lato', sans-serif;;
}
 #container div  : :active {
    color : black;
 }
